
.NewsList {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  padding-right: 50px;
  background-color:lightslategray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.NewsList h1 {
  font: 1em sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
  color: #333333;
  text-align: center; 
  text-transform: uppercase;
  font-weight: bold; 
}


@media (max-width: 600px) {
  .NewsList {
    padding: 15px;
  }

  .NewsList h1 {
    font-size: 24px;
  }
}
